<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h1>Arrange Seating</h1>
    <a href="/menu">Menu</a>
    <br>
    <form method="post" style="max-width:500px;">
        <div class="form-group">
            <label>Enter the name of reservation</label>
            <input class="form-control" type="text" name="name">
        </div>
        <br>
        <div class="form-group">
            <label>Enter amount of seats</label>
            <input class="form-control" type="number" name="seating">
        </div>
        <!--this is where the submit form is for the two dynaimc page and for the service-->
        <input type="submit" value="Reserve Seats" formaction="/reservation">
        <input type="submit" value="reservation Order" formaction="/reservationsOrders">
    </form>
</body>
</html>