<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h1>Menu</h1>
    <a href="/arrangeSeating">Arrange Seating</a>
    <br>
    <br>
    <form method="post" style="max-width: 500px;">
        <div class="form-group">
            <label>Enter Main entree</label>
            <input class="form-control" type="text" name="mains">
        </div>
        <br>
        <div class="form-group">
            <label>Enter appetizers</label>
            <input class="form-control" type="text" name="appetizers">
        </div>
        <br>
        <div class="form-group">
            <label>Enter Desserts</label>
            <input class="form-control" type="text" name="desserts">
        </div>
        <input type="submit" value="display items" formaction="/menuReciept">
        <input type="submit" value="display order" formaction="/menuOrder">
    </form>
</body>
</html>