<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h1>Seating Order Print</h1>
     <table class="table" style="max-width:500px;">
        <tr>
            <th>Name</th>
            <th>Amount of seating</th>
        </tr>
        <!--this is where the users data will be stored-->
        <tr th:each=" i:${seatingItems}">
           <td th:text="${i.name}"></td>
            <td th:text="${i.seating}"></td>
        </tr>
    </table> 
</body>
</html>